html,
body,
root {
  height: 100vh;
  width: 100vw;
  margin: 0 0 0 0;
  overflow: hidden;
  background-color: rgb(66, 1, 37);
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.raffle-screen {
  background-color: rgb(60, 66, 60);
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "header header header header header header header header header"
    "info-box grid grid grid grid grid grid grid grid"
    "info-box grid grid grid grid grid grid grid grid"
    "info-box grid grid grid grid grid grid grid grid"
    "info-box grid grid grid grid grid grid grid grid"
    "info-box grid grid grid grid grid grid grid grid"
    "info-box grid grid grid grid grid grid grid grid"
    "info-box grid grid grid grid grid grid grid grid"
    "info-box grid grid grid grid grid grid grid grid"
    "info-box grid grid grid grid grid grid grid grid";
}

.options-screen {
  display: flex;
  z-index: 123;
}

.options-navbar {
  background-color: rgb(37, 37, 37);
  color: white;
  width: 300px;
  /* border: 1px solid white; */
}

.options-main {
  background-color: rgb(37, 37, 37);
  color: white;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  /* border: 1px solid white; */
}

.options-raffle-config {
  background-color: rgb(37, 37, 37);
  color: white;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  /* border: 1px solid white; */
}

.test {
  background-color: green;
  height: 500px;
  width: 500px;
}

.header {
  background-color: rgb(37, 37, 37);
  grid-area: header;
  display: grid;
  grid-template-columns: 5fr 11fr 5fr 0.5fr;
  align-items: center;
  gap: 10px;
}

.info-box-container {
  grid-area: info-box;
  background-color: rgb(37, 37, 37);
  color: white;
  display: flex;
  flex-flow: column;
}

.info-box {
  border: 1px solid rgb(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 15px 15px 15px 15px;
  color: white;
  height: 100%;
  width: auto;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  display: flex;
  white-space: pre;
  flex-flow: column;
  overflow-y: hidden;
}

.accordion-box {
  border: 1px solid white;
  color: white;
  height: 100%;
  width: auto;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  display: flex;
  white-space: pre;
  flex-grow: 1;
}

.info-expanded {
  width: "100%";
  background-color: "red !important";
  color: "blue !important";
}

.info-collapsed {
  background-color: "pink !important";
  flex-grow: 1;
}

.grid {
  display: grid;
  height: 100%;
  width: auto;
  border: 1px solid black;
}

.grid-container {
  background-color: rgb(0, 0, 0);
  height: 100%;
  width: 100%;
}

.grid-staging {
  grid-area: grid;
  /* background-color: rgb(37, 37, 37); */
  height: 100%;
  width: 100%;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  background-image: url("https://magazine.northeast.aaa.com/wp-content/uploads/2017/11/yellowstone-national-park-guide-yellowstone-1.jpg");
}

.grid-box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  font-size: 20cqw;
  border: 1px solid white;
  /* background-color: #1e1e1e; */
  color: #fff;
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
  font-weight: bolder;
}

.grid-box-preview {
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  font-size: 2rem;
  border: 1px solid white;
  background-color: #1e1e1e;
  color: #fff;
  box-sizing: border-box;
  align-self: center;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}

.box-enabled {
  border: 1px solid rgb(255, 255, 255, 0.1);
  background-color: rgb(0, 0, 0, 0.9);
  color: #fff;
}

.box-disabled {
  border: 0px solid rgb(66, 14, 14);
  /* background-color: rgba(0, 0, 0); */
  color: rgb(255, 255, 255, 0);

  /* Transparency */
  /* background-color: rgba(0,0,0,0.5); */
  /* color: rgba(0,0,0,0.8); */
}

.dialog {
  background-color: #1e1e1e;
  color: white;
  font-size: 3rem;
  word-wrap: normal;
  text-align: center;
  white-space: pre-line;
  padding: 25px 25px 25px 25px;
  /* border: 2px solid white; */
}
