html,
body,
root {
  height: 100vh;
  width: 100vw;
  margin: 0 0 0 0;
  overflow: hidden;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.page {
  background-color: aqua;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "header header header header header header header header header"
    "info-box grid grid grid grid grid grid grid grid"
    "info-box grid grid grid grid grid grid grid grid"
    "info-box grid grid grid grid grid grid grid grid"
    "info-box grid grid grid grid grid grid grid grid"
    "info-box grid grid grid grid grid grid grid grid"
    "info-box grid grid grid grid grid grid grid grid"
    "info-box grid grid grid grid grid grid grid grid"
    "info-box grid grid grid grid grid grid grid grid"
    "info-box grid grid grid grid grid grid grid grid";
}

.header {
  background-color: rgb(60, 66, 60);
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 10px;
}

.info-box-container {
  grid-area: info-box;
  background-color: darkblue;
  color: white;
  display: flex;
  flex-flow: column;
}

.info-box {
  border: 1px solid white;
  color: white;
  height: 100%;
  width: auto;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  display: flex;
  white-space: pre;
}

.grid {
  display: grid;
  height: 100%;
  width: auto;
  border: 1px solid black;
}

.grid-container {
  background-color: green;
  height: 100%;
  width: 100%;
}

.grid-staging {
  grid-area: grid;
  background-color: purple;
  height: 100%;
  width: 100%;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
}

.grid-box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  font-size: 20cqw;
  border: 1px solid white;
  background-color: #1e1e1e;
  color: #fff;
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}

.box-enabled {
  border: 1px solid rgb(255, 255, 255, 0.1);
  background-color: #1e1e1e;
  color: #fff;
}

.box-disabled {
  border: 0px solid rgb(66, 14, 14);
  background-color: rgba(0, 0, 0, 1);
  color: rgb(255, 255, 255, 1);

  /* Transparency */
  /* background-color: rgba(0,0,0,0.5); */
  /* color: rgba(0,0,0,0.8); */
}

.dialog {
  background-color: #1e1e1e;
  color: white;
  font-size: 3rem;
  word-wrap: normal;
  text-align: center;
  white-space: pre-line;
  padding: 25px 25px 25px 25px;
  /* border: 2px solid white; */
}
